= form_for :order, :url => { :action => :create } do |f|

  -#- if @order.errors.any?
    #error_explanation
      %h3 Возникли следующие ошибки при оформлении заказа:
      %ul
        %li= @order.errors.messages[:username].join
        %li= @order.errors.messages[:email].join
        %li= @order.errors.messages[:phone].join
        %li= @order.errors.messages[:address].join
        %li= @order.errors.messages[:date].join
        %li= @order.errors.messages[:first_time].join
        %li= @order.errors.messages[:last_time].join



  .cart-box.clearfix
    %input{:type=>"hidden", :name=>"order[data]", :value=> "#{@cart.items.to_json}"}
    %input{:type=>"hidden", :name=>"order[order_confirm]", :value=> 'false'}
    -if @prices.to_i < 7000
      %input{:type=>"hidden", :name=>"order[price]", :value=> @prices.to_i + 300}
    -else
      %input{:type=>"hidden", :name=>"order[price]", :value=> @prices.to_i}

    %dl
      %dt
        Ваше имя
        %span.star *
      %dd
        = f.text_field :username
  
    %dl
      %dt
        Ваше фамилия
      %dd
        = f.text_field :surname
  
    %dl.invalid
      %dt
        Электронная почта
        %span.star *
      %dd
        = f.text_field :email
  
    %dl
      %dt
        Телефон для связи
        %span.star *
      %dd
        = f.text_field :phone
  
    %dl.fluid
      %dt
        Адрес доставки
        %span.star *
      %dd
        = f.text_field :address
  
    %dl
      %dt
        Дата доставки
        %span.star *
      %dd
        = f.text_field :date
  
    %dl.delivery-time
      %dt
        Время доставки
        %span.star *
      %dd
        Мне удобно с
        = f.text_field :first_time
        до
        = f.text_field :last_time

    %dl.payment_method
      %dt
        Способ оплаты
      %dd
        = f.select(:payment, [['Наличными курьеру', 'Наличными курьеру'], ['Пластиковой картой', 'Пластиковой картой'], ['Безналичный расчёт', 'Безналичный расчёт']])

    %dl.fluid.payment_details
      %dt
        Реквизиты для выставления счёта
      %dd
        = f.text_area :details

    %dl.fluid.m0
      %dt
        Комментарий к заказу
      %dd
        = f.text_area :comment
  
  .cart-order-confirm
    = link_to "Вернуться в корзину", "/cart"
    %input.cart-confirm{:type=>"submit", :value=>"Подтвердить заказ"}