= form_for :order, :url => { :action => :create } do |f|

  - if @order.errors.any?
    #error_explanation
      %ul
        - @order.errors.full_messages.each do |msg|
          %li= msg


  .cart-box.clearfix
    %input{:type=>"hidden", :name=>"order[data]", :value=> "#{@cart.items.to_json}"}
    -if @prices < 5000
      %input{:type=>"hidden", :name=>"order[price]", :value=> @prices + 300}
    -else
      %input{:type=>"hidden", :name=>"order[price]", :value=> @prices}

    %dl
      %dt
        Ваше имя
        %span.star *
      %dd
        = f.text_field :username
  
    %dl
      %dt
        Ваше фамилия
      %dd
        = f.text_field :surname
  
    %dl.invalid
      %dt
        Электронная почта
        %span.star *
      %dd
        = f.text_field :email
  
    %dl
      %dt
        Телефон для связи
        %span.star *
      %dd
        = f.text_field :phone
  
    %dl.fluid
      %dt
        Адрес доставки
        %span.star *
      %dd
        = f.text_field :address
  
    %dl
      %dt
        Дата доставки
        %span.star *
      %dd
        = f.text_field :date
  
    %dl.delivery-time
      %dt
        Время доставки
        %span.star *
      %dd
        Мне удобно с
        = f.text_field :first_time
        до
        = f.text_field :last_time
    -#
      %dl
        %dt
          Способ оплаты
        %dd
          = f.text_field :payment
          
      %dl.fluid
        %dt
          Реквизиты
        %dd
          = f.text_field :details
          
    %dl.fluid.m0
      %dt
        Комментарий к заказу
      %dd
        = f.text_area :comment
  
  .cart-order-confirm
    = link_to "Вернуться в корзину", "/cart"
    %input.cart-confirm{:type=>"submit", :value=>"Подтвердить заказ"}