.box-container
  .breadcrumbs
    = link_to 'Главная', '/'
    &nbsp;|&nbsp;
    = link_to 'Меню', '/products'
    &nbsp;|&nbsp;
    = link_to 'Корзина', '/cart'
    &nbsp;|&nbsp;
    %span
      Оформление заказа
.box-container.box-main-container.page-cart
  %h1 Оформление заказа

  .box-main
    = render 'form'
    
  .box-right
    .box-gray
      .rounds-top
      .box-inner
        %h3 Товары в вашей корзине
        %hr
        %ul
          - @prices = 0
          - @order_items = {}
          -for cart_item in @cart.items
            -if cart_item
              - product = Product.find(cart_item[0])
              - @prices += product.price * cart_item[1]
              - @order_items[cart_item[0]] = cart_item[1]
              %li
                .price
                  = product.price.to_i * cart_item[1]
                  руб.
                  
                = link_to product.title, product
                .dose
                  = cart_item[1]
                  порций
        %hr
        .price.price-total-small
          = @prices.to_i
          руб.
          
        Итоговая стоимость:


      .rounds-bottom