.box-container
  .breadcrumbs
    = link_to 'Главная', '/'
    &nbsp;|&nbsp;
    =link_to 'Интернет-магазин', products_path
    &nbsp;|&nbsp;
    = link_to 'Корзина', '/cart'
    &nbsp;|&nbsp;
    %span Оформление заказа
.box-container.box-main-container
  %h1 Заказ успешно оформлен

%h3
  Номер заказа:
  %b
    = @order.id

%h3
  Стоимость заказа
  %b
    = @order.price.to_i
    руб.

%p
  Имя:
  %b
    = @order.surname
    = @order.username
%p
  Электронная почта:
  %b= @order.email
%p
  Телефон для связи:
  %b= @order.phone
%p
  Адрес доставки:
  %b= @order.address
%p
  Дата доставки:
  %b= @order.date
%p
  Время доставки:
  %b
    c
    = @order.first_time
    до
    = @order.last_time
%p
  Комментарий к заказу:
  %b= @order.comment

%h3 Заказано:

%table
  %tr
    %td Товар
    %td Количество
    %td Стоимость за единицу
    %td Общая стоимость
  -for cart_item in JSON.parse(@order.data)
    %tr
      -if cart_item
        -product = Product.find(cart_item[0])
        %td= link_to product.title, product
        %td= cart_item[1]
        %td= product.price.to_i
        %td= product.price.to_i * cart_item[1]