.box-container
  .breadcrumbs
    = link_to 'Главная', '/'
    &nbsp;|&nbsp;
    = link_to 'Новости', news_index_path
    &nbsp;|&nbsp;
    %span= @news.title

.box-container.box-main-container
  .box-main

    %h1= @news.title
    
    %ul.cols.images
      -@photos.each do |photo|
        %li
          =link_to photo.file_url(:large) do
            =image_tag photo.file_url(:thumb)
    
    %p= @news.desc
    
  .box-right
    = render_cell :news, :show