%ul.cols-products
  - @categories.each do |category|
    -if category.products.length > 0
      - @prod = Product.find_by_category_id(category.id)
      %li
        .photo
          .product-category
            = link_to category.title, category
          = image_tag @prod.attachments.find_last.file_url(:thumb)
        .product-info
          %form{:method=>"post", :class=>"button_to", :action=>"/add_to_cart?id=#{@prod.id}"}
            %input{:type=>"hidden", :value=>'external_token', :name=>"authenticity_token"}
            .title
              = link_to @prod.title, @prod
            .pull-right
              .quantity
                .minus -
                %input.calc{:type=>"text", :value=>"1", :name=>"quantity", :autocomplete=>"off"}
                .plus +
              .price
                = @prod.price.to_i
                руб
            .dose
              = @prod.weight.to_i
              гр. порция
            %input.cart-add{:type=>"submit", :value=>"Заказать"}