.main-illustration

.block__promo.promo__index
  .yellow_rounds
  %ul
    %li
      .icon-green
        .icon30.coffe
      %h3
        Кофе-брейк
      .text
        %p
          Внедрение традиции кофейного перерыва берет свое начало с 1936 года, тогда же появилось устойчивое понятие «кофе брейк», которое за эти годы устойчиво прижилось в бизнес среде, как неотъемлемая часть важных встреч, переговоров, конференций и совещаний.
      = link_to "Подробнее о кофе-брейк", "/about"
    %li
      .icon-green
        .icon30.heart
      %h3
        Свадебный фуршет
      .text
        %p
          Не секрет, что одной из наиболее весомых статей свадебного бюджета является организация банкета. Нередко на него уходит примерно столько же, сколько и на всю остальную свадьбу, а в некоторых случаях — даже больше!
      = link_to "Подробнее о свадебном фуршете", "/about"
    %li
      .icon-green
        .icon30.bow
      %h3
        Аренда персонала
      .text
        %p
          У нас в штате только настоящие профессионалы своего дела, их навыки отточены и проверены годами на многочисленных мероприятиях, база персонала очень обширная, поэтому мы можем предоставить персонал на любое мероприятие в любом количестве.
      = link_to "Подробнее об аренде персонала", "/about"

.box-container
  .box-main
    .text-del
      %h2
        %span Cамое вкусное для вас
      %hr

    %ul.cols-products
      %li
        .photo
          .product-category
            = link_to "Тарталетки", ""
          %img{:src => "/assets/about/1.jpg"}
        .product-info
          .title
            = link_to "Семга со сливочным сыром в тарталетке", ""
          .pull-right
            .quantity
              .minus -
              %input.calc{:type => "text"}
              .plus +
            .price 55 руб
          .dose
            30 гр. порция
          %a.cart-add{:href => ""} Заказать
          


  .box-right
    .box-gray
      .rounds-top
      .box-inner
        %h3 Требования к заказу
        %hr
        %h4 Количество и стоимость
        %ul
          %li
            %span Минимальное количество для заказа — 10 штучек одного вида.
          %li
            %span Минимальная сума заказа — 2000 рублей.
        %hr
        %h4 Условия доставки
        %ul
          %li
            %span Бесплатно по Москве, если сумма заказа составляет 5000 рублей и выше.
          %li
            %span При сумме заказа до 5000 рублей стоимость доставки 300 рублей в пределах г.Москвы.
        .mt5 Для заказов по Московской области стоимость доставки обсуждается с менеджером индивидуально.
        
        %hr
        %h4 Варианты оплаты
        %ul
          %li
            %span Наличный расчет.
          %li
            %span Безналичный расчет.
  
  
          
      .rounds-bottom
    
    %br
        
    .box-news.mt10
      %h3 Наши новости
      %hr
      %ul
        %li
          .date 11.07.2013
          .title
            = link_to "Новые блюда в Интернет-Магазине", ""
          .text Рады сообщить, что в нашем интернет-магазин появились новые 
        %li
          .date 11.07.2013
          .title
            = link_to "Фуршет в Театре Е.Камбуровой на 60 персон", ""
          .text 22 октября 2012г. нашей компанией был организован фуршет для 60 гостей в театре Елены...
      
