.main-illustration

.block__promo.promo__index
  .yellow_rounds
  %ul
    %li
      .icon-green
        .icon30.coffe
      %h3
        Кофе-брейк
      .text
        %p
          Внедрение традиции кофейного перерыва берет свое начало с 1936 года, тогда же появилось устойчивое понятие «кофе брейк», которое за эти годы устойчиво прижилось в бизнес среде, как неотъемлемая часть важных встреч, переговоров, конференций и совещаний.
      = link_to "Подробнее о кофе-брейк", "kofe-brejk/"
    %li
      .icon-green
        .icon30.heart
      %h3
        Свадебный фуршет
      .text
        %p
          Не секрет, что одной из наиболее весомых статей свадебного бюджета является организация банкета. Нередко на него уходит примерно столько же, сколько и на всю остальную свадьбу, а в некоторых случаях — даже больше!
      = link_to "Подробнее о свадебном фуршете", "/svadebnyj-furshet/"
    %li
      .icon-green
        .icon30.bow
      %h3
        Аренда персонала
      .text
        %p
          У нас в штате только настоящие профессионалы своего дела, их навыки отточены и проверены годами на многочисленных мероприятиях, база персонала очень обширная, поэтому мы можем предоставить персонал на любое мероприятие в любом количестве.
      = link_to "Подробнее об аренде персонала", "/arenda-oficianta/"

.box-container.box-main-container
  .box-main
    .text-del
      %h2
        %span Самое лучшее для вас
      %hr

    = render :partial => 'products'


  .box-right
    .mini_cart= render_cell :cart, :mini_cart
    = render :partial => 'shared/product_right_col'