%h1 Listing pages

%table
  %tr
    %th Title
    %th Path
    %th Full path
    %th
    %th
    %th

  - @pages.each do |page|
    %tr
      %td= page.title
      %td{:style => "padding:0 40px"}= page.path
      %td{:style => "padding:0 40px"}
        - page.ancestors.each do |p|
          = p.path + "/"
        = page.path



      %td= link_to 'Show', page
      %td= link_to 'Edit', edit_page_path(page)
      %td= link_to 'Destroy', page, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Page', new_page_path
