%h1 Listing pages

%table
  %tr
    %th Title
    %th Path
    %th Full path
    %th
    %th
    %th

  - @pages.each do |page|
    %tr
      %td= page.title
      %td{:style => "padding:0 40px"}= page.path
      %td{:style => "padding:0 40px"}
        - page.ancestors.each do |p|
          = p.path + "/"
        = page.path
        %br
        %b
          = page.parent_path
        %br



      %td= link_to 'Show', page

%br

= link_to 'New Page', new_page_path
