.box-container
  .breadcrumbs
    = link_to 'Главная', '/'
    &nbsp;|&nbsp;
    %span
      Доставка канапе

.box-container.box-main-container
  .box-main
    %h1 Доставка канапе на дом и в офис — заказать и купить канапе в Москве

    %p{:style => "font-size: 13px; font-style: italic;"} Наша компания предлагает такую услугу, как доставка канапе и тарталеток как на дом, так и в офис.
    %p Канапе — это маленькие, даже точнее крошечные бутербродики, состоящие из нескольких слоёв различных продуктов, которые насажены на шпажки. В Европе они давно стали привычным делом, и сегодня их можно встретить в любом уважающем себя баре или ресторане. Наконец, пришли они и в Россию
    %p Канапе, как и тарталетки, имеют множество разновидностей – и с сыром, и с рыбой, и с икрой, и с мясным фаршем, и многие-многие другие. Причём, что интересно – рецепты приготовления у каждого заведения, как правило, свои, пусть порой и незначительно, но отличающиеся друг от друга. Что касается тарталеток, то их многообразие не ограничивается простым различием в начинках. Они, плюс ко всему, могут относиться как к холодным, так и к горячим закускам. Тут всё зависит, прежде всего, от способа их приготовления (например, лёгкие тарталетки с икрой и маслом – холодные, а с мясом или фаршем — горячие).
    = render :partial => 'products/products', :object => @kanape

    .text-del{:style=>"margin: 30px 0;"}
      %h2
        %span 
          = link_to "Заказать ещё в интернет-магазине", products_path
      %hr

    .sp-getorder
      %p Заказать и купить канапе, а так же получить подробную консультацию Вы можете по телефону:
      .phone-number +7 (495) 943-43-81
      
    -#
      .cart-getorder
        %span.js-cart-getorder
          -if @prices >= 2500
            = link_to "Оформить заказ", :order_new, :class => "cart-order"
          -else
            &nbsp;
            %b Оформление заказа не возможно, минимальная сумма заказа 2500 руб.


  .box-right
    .mini_cart= render_cell :cart, :mini_cart
    = render_cell :news, :show
