.box-container
  .breadcrumbs
    = link_to 'Главная', '/'
    &nbsp;|&nbsp;
    %span
      Доставка канапе на дом и в офис — заказать и купить канапе в Москве

.box-container.box-main-container
  .box-main
    %h1 Доставка канапе на дом и в офис — заказать и купить канапе в Москве

    = render :partial => 'products/products', :object => @products


    .cart-getorder
      = link_to "Вернуться к покупкам", products_path
      %span.js-cart-getorder
        -if @prices >= 2500
          = link_to "Оформить заказ", :order_new, :class => "cart-order"
        -else
          &nbsp;
          %b Оформление заказа не возможно, минимальная сумма заказа 2500 руб.


  .box-right
    .mini_cart= render_cell :cart, :mini_cart
    = render_cell :news, :show
