.box-container
  .breadcrumbs
    = link_to 'Главная', '/'
    &nbsp;|&nbsp;
    -#= link_to 'Портфолио', albums_path
    %span Портфолио

.box-container.box-main-container
  .box-main
    %h1 Портфолио
  
    %ul.cols-products
      - @albums.each do |album|
        %li
          .photo
            =link_to album do
              = image_tag album.photos.find_last.file_url(:thumb)
          .product-info
            .title
              =link_to album.title, album
            %p Дата проведения: #{album.created_at.strftime("%d.%m.%Y")}
            %p= album.desc
            %p Формат: #{album.format}
            %p Число гостей: #{album.guests}

  .box-right
    .mini_cart= render_cell :cart, :mini_cart