.box-container
  .breadcrumbs
    = link_to 'Главная', '/'
    &nbsp;|&nbsp;
    = link_to 'Портфолио', albums_path
    &nbsp;|&nbsp;
    %span= @album.title

.box-container.box-main-container
  .box-main
    %h1= @album.title
    %p= @album.desc
    %p Дата проведения: #{@album.created_at.strftime("%d.%m.%Y")}
    %p Формат: #{@album.format}
    %p Число гостей: #{@album.guests}
    
    %ul.cols-products.album-photos
      -@photos.each do |photo|
        %li
          .photo
            =link_to photo.file_url(:large) do
              =image_tag photo.file_url(:thumb)

  .box-right
    .mini_cart= render_cell :cart, :mini_cart