<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>

<h2>Вы сделали заказ на сайте <a href="http://shikocc.ru" target="_blank">www.shikocc.ru</a></h2>

<h3>Номер вашего заказа #<b><%= @order.id %></b></h3>

<h3>Стоимость заказа
  <b>
    <%- @prices = 0 %>
    <%- for cart_item in JSON.parse(@order.data) %>
        <%- product = Product.find(cart_item[0]) %>
        <%- @prices = @prices + product.price.to_i * cart_item[1] %>
    <% end %>
    <%- if @prices.to_i < 7000 %>
        <%= @prices.to_i + 300 %>
        руб.
    <% else %>
        <%= @prices.to_i %>
        руб.
    <% end %>
  </b>
</h3>

<h3>Детали заказа</h3>

<p>Имя: <b><%= @order.surname %> <%= @order.username %></b></p>

<p>Электронная почта: <b><%= @order.email %></b></p>

<p>Телефон для связи: <b><%= @order.phone %></b></p>

<p>Адрес доставки: <b><%= @order.address %></b></p>

<p>Дата доставки: <b><%= @order.date %></b></p>

<p>Время доставки: <b>c <%= @order.first_time %> до <%= @order.last_time %></b></p>

<p>Комментарий к заказу: <b><%= @order.comment %></b></p>

<table>
  <tr>
    <th>Название товара</th>
    <th>Количество (шт.)</th>
    <th>Стоимость за единицу (руб.)</th>
    <th>Общая стоимость (руб.)</th>
  </tr>
  <%- for cart_item in JSON.parse(@order.data) %>
      <tr>
        <%- if cart_item %>
            <%- product = Product.find(cart_item[0]) %>
            <td><%= product.title %></td>
            <td><%= cart_item[1] %></td>
            <td><%= product.price.to_i %></td>
            <td><%= product.price.to_i * cart_item[1] %></td>
        <%- end %>
      </tr>
  <%- end %>
</table>

</body>
</html>