<html>
<head>
  <title></title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
</head>
<body style="margin: 0; padding: 0;" bgcolor="#ffffff" text="#444444" topmargin="0" leftmargin="0" rightmargin="0" bottommargin="0" link="#5A2A00" alink="#5A2A00" vlink="#5A2A00" style="font: normal 13px Arial;">

<div style="font: normal 13px Arial;">
  <table width="100%" height="100%" cellspacing="0" cellpadding="0" border="0">
    <tr>
      <td width="100%" align="left" valign="top" bgcolor="#ffffff">
        <table width="700" cellspacing="0" cellpadding="0" border="0">
          <tr>
            <td>

              <!-- begin welcome -->
              <table width="100%" cellspacing="0" cellpadding="0" border="0">
                <tr>
                  <td align="left">
                    <font color="#444444" face="Arial" size="5" style=" color: #444; font-size: 30px; font-family: Arial;">Поступил новый заказ #<b><%= @order.id %></b> на сайте
                      <a href="http://shikocc.ru" target="_blank">www.shikocc.ru</a></font>
                  </td>
                </tr>
                <tr>
                  <td height="30"></td>
                </tr>
              </table>
              <!-- end welcome -->

              <!-- begin body -->
              <table width="100%" cellspacing="0" cellpadding="0" border="0">
                <tr>
                  <td bgcolor="#ffffff">


                    <table cellspacing="0" cellpadding="0" border="0">
                      <tr>
                        <td>
                          <font color="#848485" face="Arial" size="2" style="color: #848485; font-size: 13px; font-family: Arial;">Имя: </font>&nbsp;<font color="#444444" face="Arial" size="2" style="color: #444; font-size: 13px; font-family: Arial;"><%= @order.surname %> <%= @order.username %></font>
                        </td>
                      </tr>
                      <tr>
                        <td><font color="#848485" face="Arial" size="2" style="color: #848485; font-size: 13px; font-family: Arial;">Контактный
                          телефон:</font>&nbsp;<font color="#444444" face="Arial" size="2" style="color: #444; font-size: 13px; font-family: Arial;"><%= @order.phone %></font></td>
                      </tr>
                      <tr>
                        <td><font color="#848485" face="Arial" size="2" style="color: #848485; font-size: 13px; font-family: Arial;">Адрес для
                          доставки:</font>&nbsp;<font color="#444444" face="Arial" size="2" style="color: #444; font-size: 13px; font-family: Arial;"><%= @order.address %></font>
                        </td>
                      </tr>
                      <tr>
                        <td><font color="#848485" face="Arial" size="2" style="color: #848485; font-size: 13px; font-family: Arial;">Желаемая дата
                          доставки:</font>&nbsp;<font color="#444444" face="Arial" size="2" style="color: #444; font-size: 13px; font-family: Arial;"><%= @order.date %></font></td>
                      </tr>
                      <tr>
                        <td><font color="#848485" face="Arial" size="2" style="color: #848485; font-size: 13px; font-family: Arial;">Желаемое время
                          доставки:</font>&nbsp;<font color="#444444" face="Arial" size="2" style="color: #444; font-size: 13px; font-family: Arial;"><%= @order.first_time %>
                          - <%= @order.last_time %></font></td>
                      </tr>
                      <tr>
                        <td><font color="#848485" face="Arial" size="2" style="color: #848485; font-size: 13px; font-family: Arial;">Способ
                          оплаты:</font>&nbsp;<font color="#444444" face="Arial" size="2" style="color: #444; font-size: 13px; font-family: Arial;"><%= @order.payment %></font>
                        </td>
                      </tr>
                      <% if @order.comment != "" %>
                          <tr>
                            <td><font color="#848485" face="Arial" size="2" style="color: #848485; font-size: 13px; font-family: Arial;">Комментарий к
                              заказу:</font>&nbsp;<font color="#444444" face="Arial" size="2" style="color: #444; font-size: 13px; font-family: Arial;"><%= @order.comment %></font>
                            </td>
                          </tr>
                      <% end %>
                      <tr>
                        <td height="30"></td>
                      </tr>
                    </table>


                    <table width="100%" cellspacing="1" cellpadding="5" border="0">
                      <tr>
                        <th bgcolor="#bbbbbb"><font color="#ffffff" face="Arial" size="2" style="color: #ffffff; font-size: 13px; font-family: Arial;">Наименование</font></th>
                        <th bgcolor="#bbbbbb"><font color="#ffffff" face="Arial" size="2" style="color: #ffffff; font-size: 13px; font-family: Arial;">Вес</font></th>
                        <th bgcolor="#bbbbbb"><font color="#ffffff" face="Arial" size="2" style="color: #ffffff; font-size: 13px; font-family: Arial;">Цена</font></th>
                        <th bgcolor="#bbbbbb"><font color="#ffffff" face="Arial" size="2" style="color: #ffffff; font-size: 13px; font-family: Arial;">Кол-во</font></th>
                        <th bgcolor="#bbbbbb"><font color="#ffffff" face="Arial" size="2" style="color: #ffffff; font-size: 13px; font-family: Arial;">Сумма</font></th>
                      </tr>

                      <%- @count_line = 1 %>
                      <%- for cart_item in JSON.parse(@order.data) %>
                          <tr>
                            <%- if cart_item %>
                                <%- product = Product.find(cart_item[0]) %>
                                <td bgcolor="<%= '#f5f5f5' if @count_line%2!= 0 %>">
                                  <font color="#444444" face="Arial" size="2" style="color: #444; font-size: 13px; font-family: Arial;"><%= product.title %></font>
                                </td>
                                <td bgcolor="<%= '#f5f5f5' if @count_line%2!= 0 %>" align="center">
                                  <font color="#444444" face="Arial" size="2" style="color: #444; font-size: 13px; font-family: Arial;"><%= product.weight %> г.</font>
                                </td>
                                <td bgcolor="<%= '#f5f5f5' if @count_line%2!= 0 %>" align="center">
                                  <font color="#444444" face="Arial" size="2" style="color: #444; font-size: 13px; font-family: Arial;"><%= product.price.to_i %> руб.</font>
                                </td>
                                <td bgcolor="<%= '#f5f5f5' if @count_line%2!= 0 %>" align="center">
                                  <font color="#444444" face="Arial" size="2" style="color: #444; font-size: 13px; font-family: Arial;"><%= cart_item[1] %></font>
                                </td>
                                <td bgcolor="<%= '#f5f5f5' if @count_line%2!= 0 %>" align="right">
                                  <font color="#444444" face="Arial" size="2" style="color: #444; font-size: 13px; font-family: Arial;"><%= product.price.to_i * cart_item[1] %>
                                    руб.</font>
                                </td>
                            <%- end %>
                          </tr>
                          <%- @count_line = @count_line + 1 %>
                      <%- end %>


                      <%- @prices = 0 %>
                      <%- for cart_item in JSON.parse(@order.data) %>
                          <%- product = Product.find(cart_item[0]) %>
                          <%- @prices = @prices + product.price.to_i * cart_item[1] %>
                      <% end %>
                      <%- if @prices.to_i < 7000 %>
                          <tr>
                            <td colspan="4" bgcolor="#e1e1e1" align="left">
                              <font color="#444444" face="Arial" size="2" style="color: #444; font-size: 13px; font-family: Arial;">Стоимость доставки:</font>
                            </td>
                            <td bgcolor="#e1e1e1" align="right">
                              <font color="#444444" face="Arial" size="2" style="color: #444; font-size: 13px; font-family: Arial;">300 руб.</font>
                            </td>
                          </tr>
                          <tr>
                            <td colspan="4" bgcolor="#d1d1d1" align="left">
                              <font color="#444444" face="Arial" size="2" style="color: #444; font-size: 13px; font-family: Arial;">Итого:</font>
                            </td>
                            <td bgcolor="#d1d1d1" align="right">
                              <font color="#444444" face="Arial" size="2" style="color: #444; font-size: 13px; font-family: Arial;"><%= @prices.to_i + 300 %> руб.</font>
                            </td>
                          </tr>
                      <% else %>
                          <tr>
                            <td colspan="4" bgcolor="#d1d1d1" align="left">
                              <font color="#444444" face="Arial" size="2" style="color: #444; font-size: 13px; font-family: Arial;">Итого:</font>
                            </td>
                            <td bgcolor="#d1d1d1" align="right">
                              <font color="#444444" face="Arial" size="2" style="color: #444; font-size: 13px; font-family: Arial;"><%= @prices.to_i %> руб.</font>
                            </td>
                          </tr>
                      <% end %>
                    </table>

                  </td>
                </tr>
              </table>
              <!-- end body -->


              <!-- begin footer -->
              <!--table width="100%" cellspacing="0" cellpadding="0" border="0">
                <tr>
                  <td height="20"></td>
                </tr>
                <tr>
                  <td valign="top">

                    <font color="#444444" face="Arial" size="2" style="color: #444; font-size: 13px; font-family: Arial;">
                      С уважением, Воронина Наталья
                      <br/>
                      Шико Catering Club
                      <br/>
                      <a style="color: #5A2A00; font-size: 13px; font-family: Arial; text-decoration: underline;" href="http://www.shikocc.ru"><font color="#5A2A00" face="Arial" size="2" style="color: #5A2A00; font-size: 13px; font-family: Arial;">www.shikocc.ru</font></a>
                    </font>
                    </br ></br >
                    <font color="#848485" face="Arial" size="2" style="color: #848485; font-size: 13px; font-family: Arial;">
                      тел: + 7 (495) 943-43-81
                      </br >
                      email:
                      <a style="color: #5A2A00; font-size: 13px; font-family: Arial; text-decoration: underline;" href="mailto:zakaz@shikocc.ru"><font color="#5A2A00" face="Arial" size="2" style="color: #5A2A00; font-size: 13px; font-family: Arial;">zakaz@shikocc.ru</font></a>
                    </font>
                  </td>
                </tr>
              </table-->
              <!-- end footer -->

            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>


</body>
</html>