.box-container
  .breadcrumbs
    = link_to 'Главная', '/'
    &nbsp;|&nbsp;
    %span
      Интернет-магазин

.box-container.box-main-container
  .box-main
    %h1 Интернет-магазин
    
    .products-nav
      .text-del
        %h2
          %span Самое лучшее для вас
        %hr
        
        %ul.products-nav-list.clearfix
          -@categories.each do |category|
            -if category.products.length > 0
              %li
                = link_to category.title, category
          


    -@categories.each do |category|
      -if category.products.length > 0
        .text-del.mt30
          %h2
            %span
              = link_to category.title, category
          %hr
        = render :partial => 'products/products', :object => category.products.first(3)

        .products-more
          = link_to "Все блюда раздела «#{category.title}»", category


  .box-right
    .mini_cart= render_cell :cart, :mini_cart
    = render :partial => 'shared/product_right_col'