%ul.cols-products
  - products.each do |product|
    %li
      .photo
        -if product.attachments.find_last
          = link_to([product.category, product]) do
            .decor
            = image_tag product.attachments.find_last.file_url(:thumb)
        -else
          = link_to([product.category, product]) do
            .decor
            %img{:src => '/images/nophoto_small.png'}

      .product-info
        %form{:method=>"post", :class=>"button_to", :action=>"/add_to_cart?id=#{product.id}", :data => {:remote => "true"}}
          %input{:type=>"hidden", :value=>'external_token', :name=>"authenticity_token"}
          .title
            = link_to product.title, [product.category, product]
          .pull-right
            .quantity
              .minus -
              %input.calc{:type=>"text", :value=>"#{product.category.total}", :data => {:min => "#{product.category.total}"}, :name=>"quantity", :autocomplete=>"off"}
              .plus +
            .price
              = product.price.to_i
              руб
          .dose
            = product.weight.to_i
            гр. порция
          -#%input.cart-add{:type=>"submit", :value=>"Заказать"}
          .cart-add Заказать