.box-container
  .breadcrumbs
    = link_to 'Главная', '/'
    &nbsp;|&nbsp;
    =link_to 'Интернет-магазин', products_path
    &nbsp;|&nbsp;
    %span
      Корзина

.box-container.box-main-container.page-cart

  -if @cart.items.size == 0
    %h1 Ваша корзина пуста
  -else
    %h1 Ваша корзина
    .cart-box
      %table
        -for item in @products
          %tr
            %td{:rowspan=>"2"}
              .photo
                = image_tag item.attachments.find_last.file_url(:thumb)
            %td
              .cart-heading.cart-title
                = link_to item.title, item
              .gray= item.category.title
            %td
              %form{:method=>"post", :class=>"cart_update_quantity", :action=>"/update_quantity?id=#{item.id}", :data => {:remote => "true"} }
                %input{:type=>"hidden", :value=>'external_token', :name=>"authenticity_token"}
                .quantity.m0
                  .gray.cart-heading Количество порций
                  .minus -
                  %input.calc{:type=>"text", :value=> @cart.items[item.id], :name=>"quantity", :autocomplete=>"off"}
                  .plus +
            %td
              .price-dose
                .gray.cart-heading Цена за порцию
                %span.price-dose-js= item.price.to_i
                руб.
            %td.remove-from-cart
              .cart-heading
              %a.cart-delete{:rel=>"nofollow", :href=>"/destroy_item?id=#{item.id}", :data => {:method=>"delete", :confirm=>"Are you sure you want to delete this?"}}
          %tr
            %td{:colspan=>"4"}
              %hr
              .price-dose-total
                %span.price-dose-total-js= item.price.to_i * @cart.items[item.id]
                руб.

    
    .price-total
      Итоговая стоимость заказа:
      %span.price-total-js
        = @prices
        руб.
    %hr
    .cart-getorder
      = link_to "Вернуться к покупкам", "/"
      %span.js-cart-getorder
        -if @prices >= 2500
          = link_to "Оформить заказ", :order_new, :class => "cart-order"
        -else
          &nbsp;
          %b Оформление заказа не возможно, минимальная сумма заказа 2500 руб.



-#= button_to "clear cart", :action => :empty_cart