%br
%br
%br
%table
  %tr
    %td Товар
    %td Количество
    %td Стоимость за единицу
    %td Общая стоимость
    %td Перерасчёт
    %td
  - @prices = 0
  -for cart_item in @cart.items
    %tr
      -if cart_item
        -product = Product.find(cart_item[0])
        - @prices += product.price * cart_item[1]
        %td= link_to product.title, product
        %td= cart_item[1]
        %td= product.price
        %td= product.price * cart_item[1]
        %td
          %form{:method=>"post", :class=>"button_to", :action=>"/update_quantity?id=#{cart_item[0]}"}
            %input{:type=>"text", :value=>"", :name=>"quantity"}
            %input{:type=>"submit", :value=>"Обновить"}
            %input{:type=>"hidden", :value=>'external_token', :name=>"authenticity_token"}
        %td
          %a{:rel=>"nofollow", :href=>"/destroy_item?id=#{cart_item[0]}", :data => {:method=>"delete", :confirm=>"Are you sure you want to delete this?"}} Delete
%br
%br
.all_price
  Стоимость заказа:
  %b
    = @prices
    руб.
%br
%br
= debug @cart
%br
%br
= button_to "clear cart", :action => :empty_cart
