.box-container
  .breadcrumbs
    = link_to 'Главная', '/'
    &nbsp;|&nbsp;
    = link_to 'Меню', '/products'
    &nbsp;|&nbsp;
    %span
      Корзина

.box-container.box-main-container.page-cart
  -if @cart.items.size == 0
    %h1 Ваша корзина пуста
  -else
    %h1 Ваша корзина
    .cart-box
      %table
        - @prices = 0
        -for cart_item in @cart.items
          %tr
            -if cart_item
              -product = Product.find(cart_item[0])
              - @prices += product.price * cart_item[1]
              %td{:rowspan=>"2"}
                .photo
                  = image_tag product.attachments.find_last.file_url(:thumb)
              %td
                .cart-heading.cart-title
                  = link_to product.title, product
                .gray= product.category.title
              %td
                .quantity.m0
                  .gray.cart-heading Количество порций
                  .minus -
                  %input.calc{:type=>"text", :value=> cart_item[1], :name=>"quantity", :autocomplete=>"off"}
                  .plus +
              %td
                .price-dose
                  .gray.cart-heading Цена за порцию
                  = product.price.to_i
                  руб.
              %td.remove-from-cart
                .cart-heading
                %a.cart-delete{:rel=>"nofollow", :href=>"/destroy_item?id=#{cart_item[0]}", :data => {:method=>"delete", :confirm=>"Are you sure you want to delete this?"}}

          %tr
            %td{:colspan=>"4"}
              %hr
              .price-dose-total
                = product.price.to_i * cart_item[1]
                руб.
    
    .price-total
      Итоговая стоимость заказа:
      %span 
        = @prices.to_i
        руб.

    %hr

    .cart-getorder
      = link_to "Вернуться к покупкам", "/"
      = link_to "Оформить заказ", :order_new, :class => "cart-order"

    
    /*= button_to "clear cart", :action => :empty_cart*/
    
    %input{:type=>"hidden", :value=>'external_token', :name=>"authenticity_token"}