%br
%br
%br
%table
  %tr
    %td Товар
    %td Количество
    %td ID
    %td Перерасчёт
  -for cart_item in @cart.items
    %tr
      -if cart_item
        -#%td= cart_item.title
        -#%td= cart_item.quantity
        %td= cart_item[0]
        %td= cart_item[1]
        -#%td= cart_item
        -#%td= cart_item.id
        -#%td
        -#  = button_to "Добавить в корзину", :action => :add_to_cart, :id => cart_item.id
        %td
          %form{:method=>"post", :class=>"button_to", :action=>"/update_quantity?id=#{cart_item[0]}"}
            %input{:type=>"text", :value=>"", :name=>"quantity"}
            %input{:type=>"submit", :value=>"Обновить"}
            %input{:type=>"hidden", :value=>'external_token', :name=>"authenticity_token"}
        %td
          %a{:rel=>"nofollow", :href=>"/destroy_item?id=#{cart_item[0]}", :data => {:method=>"delete", :confirm=>"Are you sure you want to delete this?"}} Delete
%br
%br
= debug @cart
%br
%br
= button_to "clear cart", :action => :empty_cart
