.box-container
  .breadcrumbs
    = link_to 'Главная', '/'
    &nbsp;|&nbsp;
    =link_to 'Интернет-магазин', products_path
    &nbsp;|&nbsp;
    %span= @category.title


.box-container.box-main-container
  .box-main
    %h1= @category.title

    = render :partial => 'products', :object => @products

  = render :partial => 'shared/product_right_col'