%h1 Меню

%table
  %tr
    %th Название
    %th Описание
    %th Изображение
    %th Цена
    %th Вес

  - @products.each do |product|
    %tr
      %td= link_to product.title, product
      %td= product.desc
      %td= image_tag product.attachments.find_last.file_url(:thumb)
      %td= product.price
      %td= product.weight
