.box-container
  .breadcrumbs
    = link_to 'Главная', '/'
    &nbsp;|&nbsp;
    %span
      Интернет-магазин

.box-container.box-main-container
  .box-main
    %h1 Интернет-магазин
    
    .products-nav
      .text-del
        %h2
          %span Самое лучшее для вас
        %hr
        
        %ul.products-nav-list.clearfix
          -@products.group_by(&:category).each do |category, products|
            %li
              = link_to category.title, category
          
  
    -@products.group_by(&:category).each do |category, products|
      .text-del.mt30
        %h2
          %span
            = link_to category.title, category
        %hr
      = render :partial => 'products', :object => products
      .products-more
        = link_to "Все блюда раздела «#{category.title}»", category


  = render :partial => 'shared/product_right_col'