%h1= @product.title
%p
  -@images.each do |at|
    =image_tag at.file_url(:thumb)
%p= @product.desc
%p
  %b Цена:
  = @product.price
%p
  %b Старая цена:
  = @product.old_price
%p
  %b Вес:
  = @product.weight

%p= button_to "Добавить в корзину", :action => :add_to_cart, :id => @product