.box-container
  .breadcrumbs
    = link_to 'Главная', '/'
    &nbsp;|&nbsp;
    
    %span{:itemscope=>"", :itemtype=>"http://data-vocabulary.org/Breadcrumb"}
      %a{:href=>products_path, :itemprop=>"url"}
        %span{:itemprop=>"title"} Интернет-магазин
    &nbsp;|&nbsp;
    %span{:itemscope=>"", :itemtype=>"http://data-vocabulary.org/Breadcrumb"}
      %a{:href=>category_path(@product.category), :itemprop=>"url"}
        %span{:itemprop=>"title"} #{@product.category.title}
    &nbsp;|&nbsp;
    %span
      =@product.title

.box-container.box-main-container

  .box-right
    .mini_cart= render_cell :cart, :mini_cart
    = render :partial => 'shared/product_right_col'


  .box-main.page-product{:itemscope=>"", :itemtype=>"http://schema.org/Product"}
    %h1{:itemprop => "name"} 
      = @product.title
    
    .photo
      .decor
      -if @images.find_last
        %meta{:itemprop=>"image", :content=>@images.find_last.file_url(:large)}
        =image_tag @images.find_last.file_url(:large)
      -else
        %img{:src => '/images/nophoto_big.png'}

      
    .product-info
      %form{:method=>"post", :class=>"button_to", :action=>"/add_to_cart?id=#{@product.id}", :data => {:remote => "true"}}
        %input{:type=>"hidden", :value=>'external_token', :name=>"authenticity_token"}
        %h3 Состав
        %hr
        .descr{:itemprop => "description"}
          = @product.desc
        %hr
        .weight
          %span.gray Вес порции:
          = @product.weight.to_i
          гр.
        %span.gray Количество порций:
        %span.quantity
          .minus -
          %input.calc{:type=>"text", :value=>"#{@product.category.total}", :data => {:min => "#{@product.category.total}"}, :name=>"quantity", :autocomplete=>"off"}
          .plus +

        %hr

        -#%input.cart-add{:type=>"submit", :value=>"Заказать", :action => :add_to_cart, :id => @product}
        .cart-add Заказать
        %div{:itemprop=>"offers", :itemscope=>"", :itemtype=>"http://schema.org/Offer"}
          %span.price{:itemprop => "price"}
            = @product.price.to_i
            руб
          %meta{:itemprop=>"priceCurrency", :content=>"RUB"}


  .box-main
    .text-del.offset-h3
      %h2
        %span С этим блюдом обычно покупают
      %hr
    = render :partial => 'products/products', :object => @all_prod