.box-container
  .breadcrumbs
    = link_to 'Главная', '/'
    &nbsp;|&nbsp;
    =link_to 'Интернет-магазин', products_path
    &nbsp;|&nbsp;
    =link_to @product.category.title, category_path(@product.category)
    &nbsp;|&nbsp;
    %span
      =@product.title


.box-container.box-main-container

  .box-right
    .mini_cart= render_cell :cart, :mini_cart
    = render :partial => 'shared/product_right_col'


  .box-main.page-product
    %h1= @product.title
    
    .photo
      .decor
      -if @images.find_last
        =image_tag @images.find_last.file_url(:large)
      -else
        %img{:src => '/images/nophoto_big.png'}

      
    .product-info
      %form{:method=>"post", :class=>"button_to", :action=>"/add_to_cart?id=#{@product.id}", :data => {:remote => "true"}}
        %input{:type=>"hidden", :value=>'external_token', :name=>"authenticity_token"}
        %h3 Состав
        %hr
        .descr
          = @product.desc
        %hr
        .weight
          %span.gray Вес порции:
          = @product.weight.to_i
          гр.
        %span.gray Количество порций:
        %span.quantity
          .minus -
          %input.calc{:type=>"text", :value=>"10", :name=>"quantity", :autocomplete=>"off"}
          .plus +

        %hr

        -#%input.cart-add{:type=>"submit", :value=>"Заказать", :action => :add_to_cart, :id => @product}
        .cart-add Заказать

        %span.price
          = @product.price.to_i
          руб


  .box-main
    .text-del.offset-h3
      %h2
        %span С этим блюдом обычно покупают
      %hr
    = render :partial => 'products/products', :object => @all_prod