!!! 5
%html(lang="ru")
  %head
    %meta(charset="utf-8")
    %title Шико Catering Club
    %meta{:name => "keywords",  :content => metakey }
    %meta{:name => "description",  :content => metadesc }
    = csrf_meta_tags
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"

  %body
    #wrap
      #wrapper
        #container
          = render 'shared/header'
          = render 'shared/menu'
          #content
            = yield
            -#= render 'shared/templates'
        = render 'shared/footer'