<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if (IE 9)]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html lang="en-US"> <!--<![endif]-->
<head>

  <!-- Meta Tags -->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <title><%= title %></title>
  <meta name="keywords" content="<%= metakey %>"/>
  <meta name="description" content="<%= metadesc %>"/>

  <!-- Mobile Specifics -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="HandheldFriendly" content="true"/>
  <meta name="MobileOptimized" content="320"/>

  <!-- Mobile Internet Explorer ClearType Technology -->
  <!--[if IEMobile]>  <meta http-equiv="cleartype" content="on">  <![endif]-->

  <!-- Google Font -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>

  <!-- Fav Icon -->
  <link rel="shortcut icon" href="#">

  <link rel="apple-touch-icon" href="#">
  <link rel="apple-touch-icon" sizes="114x114" href="#">
  <link rel="apple-touch-icon" sizes="72x72" href="#">
  <link rel="apple-touch-icon" sizes="144x144" href="#">

  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

</head>
<body>
<!-- This section is for Splash Screen -->
<div class="ole">
  <section id="jSplash">
    <div id="circle"></div>
  </section>
</div>
<!-- End of Splash Screen -->


<%= yield %>

<!-- Footer -->
<footer>
  <p class="credits">&copy;2013 Botunov.</p>
</footer>
<!-- End Footer -->

<!-- Back To Top -->
<a id="back-to-top" href="#">
  <i class="font-icon-arrow-simple-up"></i>
</a>
<!-- End Back to Top -->

<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> &lt;!&ndash; jQuery Core &ndash;&gt;-->
<script src="/javascripts/flat/bootstrap.js"></script>
<script src="/javascripts/flat/supersized.js"></script>
<script src="/javascripts/flat/waypoints.js"></script>
<script src="/javascripts/flat/waypoints-sticky.js"></script>
<script src="/javascripts/flat/jquery-isotope.js"></script>
<script src="/javascripts/flat/fancybox-pack.js"></script>
<script src="/javascripts/flat/fancybox-media.js"></script>
<script src="/javascripts/flat/plugins.js"></script>
<script src="/javascripts/flat/main.js"></script>

</body>
</html>