!!! 5
%html(lang="ru")
  %head
    %meta(charset="utf-8")
    %title= title
    %meta{:name => "keywords",  :content => metakey }
    %meta{:name => "description",  :content => metadesc }
    = csrf_meta_tags
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"

  %body
    .container
      = render 'shared/menu'
      = yield